{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <style>
        /* dataTables列内容居中 */
        #project-conf > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #project-conf > thead:first-child > tr:first-child > th {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a href="#tab_1" data-toggle="tab">角色列表</a></li>
                <li role="presentation"><a href="#tab_2" data-toggle="tab">发布工单列表</a></li>
            </ul>
            <div class="tab-content" style="padding: 0">
                <div class="tab-pane  active" id="tab_1">
                    {% include 'projs/proj_roles_list.html' %}
                </div>
                <div class="tab-pane" id="tab_2">
                    {% include 'projs/proj_ticket_list.html' %}
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.row -->


{% endblock %}


{% block js %}
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>
    <script>
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>

    <script>
        $(function () {
            proj_role_table = $('#proj-role').DataTable({
                'ordering': false,
            });

            {% if request.user.is_superuser %}
                $('#add-role_config').css('display', 'block');
            {% endif %}
        });

        // 删除project-conf
        $('#proj-role tbody').on('click', '.delete', function () {

            let pk = $(this).attr('data-id');
            let tr_obj = $(this).parents('tr');
            $.confirm({
                title: 'Tips',
                content: '确定要删除这条记录么？',
                type: 'red',
                buttons: {
                    Ok: function () {
                        $.ajax({
                            url: '/api/project_config/' + pk + '/',
                            method: 'DELETE',
                            success: function () {
                                proj_role_table.row(tr_obj).remove().draw();
                            },
                            error: function (data) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: '删除失败！' + data.responseText,
                                })
                            }
                        })
                    },
                    Cancel: function () {
                        //
                    }
                }
            });
        });
    </script>

    <script>
        $(function () {
            proj_ticket_table = $('#proj-ticket').DataTable({
                'ordering': false,
            });

            {% if request.user.is_superuser %}
                $('#add-ticket_config').css('display', 'block');
            {% endif %}
        });

        // 删除proj-ticket
        $('#proj-ticket tbody').on('click', '.delete', function () {

            let pk = $(this).attr('data-id');
            let tr_obj = $(this).parents('tr');
            $.confirm({
                title: 'Tips',
                content: '确定要删除这条记录么？',
                type: 'red',
                buttons: {
                    Ok: function () {
                        $.ajax({
                            url: '/api/proj_ticket/' + pk + '/',
                            method: 'DELETE',
                            success: function () {
                                proj_ticket_table.row(tr_obj).remove().draw();
                            },
                            error: function (data) {
                                $.alert({
                                    title: 'Tips',
                                    type: 'red',
                                    content: '删除失败！' + data.responseText,
                                })
                            }
                        })
                    },
                    Cancel: function () {
                        //
                    }
                }
            });
        });
    </script>

{% endblock %}
