{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <style>
        /* dataTables列内容居中 */
        #deploy-list > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #deploy-list > thead:first-child > tr:first-child > th {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="LogStartTime" class="form-control pull-right"
                               data-date-format="yyyy-mm-dd" placeholder="开始时间">
                        <span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar"></span>
										                </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="LogEndTime" class="form-control pull-right"
                               data-date-format="yyyy-mm-dd" placeholder="结束时间">
                        <span class="input-group-addon" onclick="searchLog()">
										                    <span class="glyphicon glyphicon-search"
                                                                  style="cursor: pointer"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <!--dataTable-->
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <table id="deploy-list" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>单号</th>
                            <th>环境</th>
                            <th>平台</th>
                            <th>项目</th>
                            <th>应用</th>
                            <th>CommitID</th>
                            <th>主机</th>
                            <th>发布</th>
                            <th>回滚</th>
                            <th>更新时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td><a href="{% url 'deploy_ticket' log.d_ticket_id.id %}"
                                       target="blank">{{ log.d_ticket_id.ticket_no }}</a></td>
                                <td>{{ log.d_ticket_id.ticket_config.proj_env.projenv_name }}</td>
                                <td>{{ log.assets.asset_platform.platform_name }}</td>
                                <td>{{ log.d_ticket_id.ticket_config.proj_name.projname_name }}</td>
                                <td>
                                    {{ log.d_ticket_id.ticket_config.proj_app.projapp_name }}
                                </td>
                                <td>{{ log.d_ticket_id.ticket_commit|slice:"7" }}-{{ log.d_ticket_id.ticket_config.proj_branch_tag }}</td>
                                <td>{{ log.deploy_ip }}</td>
                                <td>{% if log.deploy_status != 9 %}
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip"
                                            data-placement="left" title="{{ log.deploy_times }}">失败
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip"
                                            data-placement="left" title="{{ log.deploy_times }}">成功
                                    </button>
                                {% endif %}
                                </td>

                                <td>{% if log.rollback_status == 1 %}
                                    <button type="button" class="btn btn-success btn-xs" 　data-toggle="tooltip"
                                            data-placement="left" title="{{ log.rollback_times }}">成功
                                    </button>
                                {% elif log.rollback_status == 0 %}
                                    <button type="button" class="btn btn-info btn-xs">无</button>
                                {% endif %}
                                </td>
                                <td>{{ log.update_date|date:"Y/m/d H:i  " }}</td>
                                <td>
                                    {% if log.d_ticket_id.ticket_status == 0 %}
                                        <button type="button" class="btn btn-info btn-xs">已通过</button>
                                    {% elif log.d_ticket_id.ticket_status == 1 %}
                                        <button type="button" class="btn btn-danger btn-xs"
                                                data-toggle="tooltip"
                                                data-placement="left" title="{{ log.d_ticket_id.ticket_cancel }}">
                                            <del>已撤销</del>
                                        </button>

                                    {% elif log.d_ticket_id.ticket_status == 2 %}
                                        <button type="button" class="btn btn-warning btn-xs">审核中</button>

                                    {% elif log.d_ticket_id.ticket_status == 3 %}
                                        <button type="button" class="btn btn-success btn-xs">已部署</button>
                                    {% elif log.d_ticket_id.ticket_status == 4 %}
                                        <button type="button" class="btn  btn-dark btn-xs">已回滚</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
    <!-- DataTables -->
    <script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            deploy_table = $('#deploy-list').DataTable({
                columnDefs: [{
                    'targets': [-1],
                    'orderable': false
                }],
                "order": [7, "desc"]
            });

            //Date picker
            $('#LogStartTime, #LogEndTime').datepicker({
                autoclose: true
            });
        });

        // 按日期搜索
        function searchLog() {
            let startTime = $('#LogStartTime').val();
            let endTime = $('#LogEndTime').val();
            if (startTime.length === 0 || endTime.length === 0) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '请选择起始时间！'
                });
                return false;
            }
            $.get("{% url 'deploy_log' %}?startTime=" + startTime + '&endTime=' + endTime, function (response) {
                if (response.records.length === 0) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '该时间段内没有任何操作！'
                    });
                } else {
                    $.alert({
                        title: 'Tips',
                        type: 'green',
                        content: '查询完成！'
                    });
                    deploy_table.clear().draw();
                    for (let i = 0; i < response.records.length; i++) {
                        let result = response.records[i];
                        let run_time = $.format.date(result['update_time'], "yyyy-MM-dd HH:mm:ss");

                        deploy_table.row.add([
                            result['ticket_no'],
                            result['ticket_env'],
                            result['ticket_pltf'],
                            result['ticket_proj'],
                            result['ticket_app'],
                            result['cid'],
                            result['host'],
                            result['deploy'],
                            result['rollback'],
                            run_time,
                            result['status'],
                        ]).draw();
                    }
                }
            }).fail(function () {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: response.responseText
                });
            });
        }
    </script>

{% endblock %}

