{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/iCheck/all.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-confirm/dist/jquery-confirm.min.css' %}">

    <style>
        #prev_deploy, #post_deploy, #prev_release, #post_release {
            width: 100%;
            height: 100px;
        }

        .box.box-info {
            border-top: 1px solid #d2d6de;
        }

        .box-title {
            color: #00c0ef;
        }
    </style>
{% endblock %}

{% block content %}
        <div class="row">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">角色配置</a></li>
                <li><a href="#tab_2" data-toggle="tab">部署工单</a></li>

            </ul>
            <div class="tab-content" style="padding: 0">
                <div class="tab-pane  active" id="tab_1">
                    {% include 'projs/proj_role_add.html' %}
                </div>
                <div class="tab-pane" id="tab_2">
                    {% include 'projs/proj_ticket_add.html' %}
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block js %}
    <script src="{% static 'AdminLTE/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'ace/js/ace.js' %}"></script>
    <script src="{% static 'ace/js/mode-sh.js' %}"></script>
    <script src="{% static 'ace/js/theme-tomorrow.js' %}"></script>
    <script src="{% static 'ace/js/ext-language_tools.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>

        function getProj() {
            let projname_id = $('#proj_name').val();
            $.ajax({
                url: '/api/projname/' + projname_id + '/',
                type: 'GET',
                success: function (res) {
                    let asset_projapp_obj = $('#proj_app');
                    let asset_projapps = res['projectapp'];
                    asset_projapp_obj.html('');
                    for (let i = 0; i < asset_projapps.length; i++) {
                        asset_projapp_obj.append(
                            '<option value=' + asset_projapps[i]['id'] + '>' + asset_projapps[i]['projapp_name'] + '</option>'
                        )
                    }
                }
            })
        }


        // 获取branch或tag
        $('.fresh').on('click', function () {
            pk = $('#proj_role option:selected').val();
            env = $('#proj_env option:selected').text();
            $.get("/project/read_branch/" + pk, {key: "model", mode: "deploy", env: env}, function (res) {
                if (res.code === 200) {
                    let proj_branch_tag = $('#proj_branch_tag');
                    proj_branch_tag.empty();
                    for (let item of res.models) {
                        proj_branch_tag.append(`<option value="${item}">${item}</option>`)
                    }
                    {#$('.fresh').off('click').css({'cursor': 'auto'});#}
                } else {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: res.msg,
                    })
                }
            }).fail(function (response) {
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: response.responseText,
                })
            })
        });

        let editors = ["prev_deploy", "post_deploy", "prev_release", "post_release"];
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
            // Initialize Select2 Elements
            $('.select2').select2({
                allowClear: true
            });

            init_editor(editors);

            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
            })
        });

        function init_editor(elements) {
            ace.require("ace/ext/language_tools");
            for (let element of elements) {
                ace.edit(element, {
                    mode: "ace/mode/sh",
                    selectionStyle: "text",
                    theme: "ace/theme/monokai",
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                })
            }
        }

        $('#mail_notice').on('ifChecked', function () {
            $('#mail_info').css('display', 'block');
            $('#to_mail').attr('name', 'to_mail');
            $('#cc_mail').attr('name', 'cc_mail');
        }).on('ifUnchecked', function () {
            $('#mail_info').css('display', 'none');
            $('#to_mail, #cc_mail').removeAttr('name')
        });

        $('#repo').on('change', function () {
            let repo = $(this).val();
            let repo_model = $('#repo_model');
            repo_model.empty();
            if (repo === 'git') {
                $('#svn_auth').css('display', 'none');
                repo_model.append('<option value="branch">branch</option> <option value="tag">tag</option>')
            } else {
                $('#svn_auth').css('display', 'block');
                repo_model.append('<option value="trunk">trunk</option> <option value="branch">branch</option> <option value="tag">tag</option>')
            }
        });

        // 添加角色项目配置
        $('.add-role-conf').on('click', function () {
            let data = $('#project_config').serializeJson();
            let v = get_editor_value(editors);
            $.extend(data, v, {wx_notice: false});

            let a = $('#wx_notice').is(':checked');
            data.wx_notice = !!a;


            $.ajax({
                url: '/api/project_config/',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json",
                success: function () {
                    $.alert({
                        title: 'Tips',
                        type: 'green',
                        content: '添加成功！',
                    })
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.responseText,
                    })
                }
            })

        });

        // 添加發布工單配置
        $('.add-ticket-conf').on('click', function () {
            let data = $('#proj_ticket_add').serializeJson();
            let v = get_editor_value(editors);
            $.extend(data, v, {wx_notice: false});

            let a = $('#wx_notice').is(':checked');
            data.wx_notice = !!a;


            $.ajax({
                url: '/api/proj_ticket/',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json",
                success: function () {
                    $.alert({
                        title: 'Tips',
                        type: 'green',
                        content: '添加成功！',
                    })
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.responseText,
                    })
                }
            })

        });

        function get_editor_value(elements) {
            let editor_values = {};
            for (let element of elements) {
                let editor_name = element + 'editor';
                editor_name = ace.edit(element);
                editor_values[element] = editor_name.getSession().getValue();
            }
            return editor_values
        }

        // 将数据JSON化
        (function ($) {
            $.fn.serializeJson = function () {
                let serializeObj = {};
                let array = this.serializeArray();
                $(array).each(function () {
                    if (serializeObj[this.name]) {
                        if ($.isArray(serializeObj[this.name])) {
                            serializeObj[this.name].push(this.value);
                        } else {
                            serializeObj[this.name] = [serializeObj[this.name], this.value];
                        }
                    } else {
                        if (this.name === 'deploy_server') {
                            serializeObj[this.name] = [this.value];
                        } else {
                            serializeObj[this.name] = this.value;
                        }
                    }
                });
                return serializeObj;
            };
        })(jQuery);
    </script>

{% endblock %}